body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    padding: 15px;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.open {
    left: 0;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li {
    margin-bottom: 20px;
}

.sidebar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar .menu li a:hover {
    color: #ffc107;
}

.content {
    flex: 1;
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
    z-index: 900;
    position: relative;
    width: 100%;
}

.content.shifted {
    margin-left: 250px;
}

.toggle-btn {
    background-color: transparent;
    color: #343a40;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
}

.close-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .sidebar {
        left: -250px;
    }

    .sidebar.open {
        left: 0;
    }

    .content.shifted {
        margin-left: 0;
    }

    #mainContent {
        margin-left: 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.navbar .svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar .svg-icon:last-child {
    margin-right: 0;
}